/* cookieconsentmodal002.css   */
/* 20230322 0607               */ 
/* KMB                         */

/**********************************************/
/* root */ 

:root 
    {
        /* colours - devlog 20220212 0833 - darker down to lighter - http://veli.ee/colorpedia/?c=020873 */
        
        --black:                #000000;
        --blackOpaque40:        rgba(0,0,0,0.4);          /* must be an rgba value in order to get the opacity percentage */
        
        --blueNavy:             #020873;
        --blueDark:             #0000C0; /* regular HTML colour for links */
        --blueChathams:         #0E4C73;
        --blueAzure:            #225282;
        --blueJelly:            #2B6AA8;
        --blueBoston:           #3981BF;
        --blueCornflower:       #99C5EF;
        --blueMalibu:           #4CC9FF;
        --blueOnahau:           #C4FFFD;
        --blueTranquil:         #E7FFFE;        
        --blueSolitude:         #EDF8FF;
        
        --greenVerdunA:         #5A7302;
        --greenVerdunB:         #477202;
        --greenChristi:         #55C10D;
        --greenLimeadeA:        #5F9903;
        --greenLimeadeB:        #469903;
        --greenBright:          #67E911;
        --greenChartreuse:      #8FE504;
        --greenElectricLime:    #B4E504;
        --greenSnowFlurryA:     #DCFDC3;
        --greenSnowFlurryB:     #DDFFC4;
        --chiffon:              #E6FFC4;
        --greenRiceFlower:      #F3FFEA;
        
        --greyDove:             #676767;
        --greyBoulder:          #7D7D7D;
        --greyChalice:          #A1A1A1;
        --greyNobel:            #B7B7B7;
        --greySilver:           #c5c5c5;
        --greyPumice:           #C5C9C5;
        --greyMercury:          #E7E7E7;
        --greyConcrete:         #F2F2F2;
        --white:                #FFFFFF;
    }

/**********************************************/
/* modal */ 
    
.modal 
    {
        background-color: var(--greyBoulder);       /* Fallback colour */
        background-color: var(--blackOpaque40);     /* Intended colour */
        
        left:             0;                        /* opacity start pixel */    
        top:              0;                        /* opacity start pixel */    
        width:            100%;                     /* opacity end   pixel */    
        height:           100%;                     /* opacity end   pixel */    
        
        position:         fixed;                    /* modal box position*/
           
        z-index:          1;                        /* Sit on top */
        padding-top:      25px;                     /* displaced from top of screen                 - best with px */ 
        padding-left:     0%;                       /* displaced from left or from centre of screen - best with %  */ 
        
        display:          none;                     /* Hidden by default */
        overflow:         auto;                     /* Enable scroll if needed */
    }

.modal-box 
    {
        width:            30.0em;
        border-radius:    10px;
        font-size:        0.875em;
        font-family:      Arial, sans-serif;
        background-color: var(--chiffon);              
        margin:           auto;
        border:           2px solid var(--greyDove);
    }
    
.modal-top    
    {
        display:          flex;                     /* flex means flexbox */
        align-items:      center;                   /* vertical align - works only with flexbox */
        background:       var(--greyConcrete);
        padding:          1.2em;                    /* of internal text */
        border-radius:    8px 8px 0px 0px;
        border-bottom:    1px solid var(--black);
    }
    
.modal-left 
    {
        /* the heading */
        
        width:            95%;
        color:            var(--greenVerdunA);
        font-weight:      bold;
    }

.modal-right 
    {
        /* the X to close the box */
        
        width:            5%;
        color:            var(--greenVerdunA);
        font-weight:      bold;
        font-size:        2em;
    }

.modal-right:hover, .modal-right:focus 
    {
        color:            var(--greenVerdunA);
        text-decoration:  none;
        cursor:           pointer;
    }
    
.modal-core    
    {
        padding:          1.2em;                    /* of internal text */
    }
  
